.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.todo-item {
    margin: 10px;
    padding: 10px;
    list-style: none;
}